*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;      
    color: black;
    font-size: 20px;
}

.tab{
    width: 100vw;   max-height: 5%; min-height: 5%;
    background-color: #FCECE7;
    padding: 1%;    padding-left: 3.5%;
    font-size: 70%;
    
    display: flex;  flex-direction: row;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.choose{
    min-width: 7%;  height: 70%;
    background: white;
    border-radius: 25px;
    padding: 0.5%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #E13205;
    margin-left: 1%;
    font-weight: bold;  font-size: 50%;
}

header{
    width: 100vw;  height: 10%;
    background: white;
    padding-left: 3.5%;   padding-right: 3.5%;
    padding-top: 0.5%; padding-bottom: 0.5%;

    display: flex;  flex-direction: row;
    align-items: center;
    justify-content: center;
}

header p{
    font-size: 50%;
    min-width: 7%; 
}

header img{
    width: 10%;
    max-width: 15%;
}

.main{
    width: 100vw;  min-height: 87vh;
    background: #FCECE7;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-left: 1%;
}

#search{
    width: 2%;
    background: #FCECE7;
    color: #E13205;
    height: 50%;
} 

#login{
    background: #E13205;
    color: white;
    height: 50%;
}

#handla{
    background: #FCECE7;
    color: #E13205;
    height: 50%;
} 

.filler{
    width: 38%;
}

.middle{
    width: 93%; height: 90%;
    margin-top: 3%;
    background: white;

    display: flex;  flex-direction: column;
    text-align: left;
    border-radius: .9rem;
}

.middle img{
    width: 100%; max-height: 50vh;
    object-fit: cover;
    border-radius: .4rem;
}

.columns{
    display: flex;  flex-direction: row;
    height: 30%;

    justify-content: center;
    align-items: center;
}

.column{
    display: flex;  flex-direction: column;
    height: 100%;   width: 35%;
    box-shadow: -2px 0px 0px 0px #F2F2F2, 2px 0px 0px 0px #F2F2F2;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
}

.column img{
    position: absolute;
    top: 64%;
    width: 8%; height: auto;
    object-fit: cover;
    border-radius: 100%;
    background: white;
}

.column h1{
    color: #E13205;
    font-weight: bold;
    font-size: 0.1%;
}

.notice{
    position: absolute;
    top: 15%;   left: 10%;
    max-width: 25%; min-height: 40%;
    background: white;
    border-radius: .2rem;
    padding: 2%;
    font-size: 90%;
    color: grey;
}

.notice h2{
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    color: #E13205;
    font-size: 100%;
}

.notice h1{
    font-weight: 900;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

.button{
    margin-top: 6%;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    background: #E13205;
    border-radius: 25px;
    padding: 3%;
    text-align: center;
    color: white;
    font-weight: 900;
}